@page "/categories"
@using HexoBlog.Model
@using HexoBlog.Service
@inject ClassifyService CategoryService

<h1>Categories</h1>

@if (CategoryService.Categories.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var category in CategoryService.Tags)
        {
            <li>
              
                <p>Path: @category.Name</p>
                <p>Path: @category.Path</p>
                <p>Count: @category.Count</p>
            </li>
        }
    </ul>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.LoadCategoriesAsync();
    }
}